
 
 @import url('https://fonts.cdnfonts.com/css/blanka');
 
                
.section-wrapper{
    background-color:#F7EDE2;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}
.section-header {
    color: #F28482;
    font-family: 'Blanka', sans-serif;
    font-size: 36px;
    font-weight: 600px;
   
}
.ourpartnertitle{
    color: #F28482;
    font-family: 'Blanka', sans-serif;
    font-size: 36px;
    font-weight: 600px;
}
.ourcustomertitle{
    color: #F28482;
    font-family: 'Blanka', sans-serif;
    font-size: 36px;
    font-weight: 600px;
   
}
.ourcustomers-items{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
}
.card-wrapper{
    background-color: #F7EDE2;
    border-radius: 10%;
    padding: 10px;

}

.ourpartner-items{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
}
.partner-img{
    max-width: 50%;
    border-image: 100%;
    border-width: 5px;
    margin: 10px;
    
}
.patrner-content{
    display: flex;
    justify-content: space-between;
}
.partner-content-title{
    font-size: medium;
    color: #353436;
}
 
.ourcustomers-img{
    max-width: 50%;
    border-image: 100%;
    border-width: 5px;
    margin: 10px;
    
}
.ourservicestitle{
    color: #F28482;
    font-family: 'Blanka', sans-serif;
    font-size: 36px;
    font-weight: 600px;
   
}
 
.ourservices-items{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
}
.ourservices-content{
    display: flex;
    justify-content: space-between;
}
 
.ourservices-img{
    max-width: 50%;
    border-image: 100%;
    border-width: 5px;
    margin: 10px;
    
}
a{
    color: #F6BD60;
    font-family:  sans-serif;
}
 
h6{
    font-size: medium;
    color: #353436;
}
 