.section-wrapper{
    background-color:#F7EDE2;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}
.section-header {
    color: #F28482;
    font-size: 36px;
    font-weight: 600px;
   
}
.card-wrapper{
    background-color: #F7EDE2;
    border-radius: 10%;
    padding: 10px;

}
.ourcustomertitle{
    color: #F28482;
    font-size: 36px;
    font-weight: 600px;
}
.ourcustomers-items{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
}
.ourcustomers-img{
    max-width: 30%;
    border-image: 100%;
    border-width: 5px;
    margin: 10px;
    
}
.ourcustomers-content{
    display: flex;
    justify-content: space-between;
}
.ourcustomers-content-titl{
    font-size: medium;
    color: #84A59D;
}